.card{
    background-color: #ff5570;
    height: max-content;
    max-width: 600px;
    min-width: 200px;
    margin: 50px auto;
    box-shadow: -10px 10px 0px 0px #c93e55;
    transition: 150ms;
    transition-timing-function: ease-out;
    padding: 40px 0;
}

.card:hover{
    scale: 1.05;
}

.text{
    color: white;
    margin: 0px 40px
}

// .card::before{
//     background-color: #ff4766;
//     height: 300px;
//     width: 300px;
// }

@media screen and (max-width: 500px){
    .card{
        width: 75vw;
        margin: 50px auto;
        h1{
            font-size: 1rem;
        }
    }
}