.card{
    background-color: #ff5570;
    height: 300px;
    max-width: 600px;
    min-width: 200px;
    margin: 50px auto;
    box-shadow: -10px 10px 0px 0px #c93e55;
    transition: 150ms;
    transition-timing-function: ease-out;
}

.card:hover{
    scale: 1.05;
}

// .card::before{
//     background-color: #ff4766;
//     height: 300px;
//     width: 300px;
// }

@media screen and (max-width: 500px){
    .card{
        width: 75vw;
        height: 150px;
        margin: 50px auto;
    }
}