@font-face {
    font-family: social-gothic;
    src: url('./../Fonts/Social\ Gothic\ Regular.otf');
}

@font-face {
    font-family: social-gothic-bold;
    src: url('./../Fonts/Social\ Gothic\ Bold.otf');
}

h1{
    font-family: social-gothic-bold;
}

.logo{
    width: fit-content;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    color: #ff5570;
    text-align: right;

    h1{
        font-size:0.7rem;
        margin: 0px;
    }
}

@media screen and (max-width: 500px){
    .logo{
        display: none;
    }
}