@font-face{
    font-family: schelter;
    src: url('./../Fonts/Schelter\ Grotesk\ NF\ W01\ Bold.ttf') format("truetype");
}

.navbar{
    position: relative;
    width: 100vw;
    height: 3rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

a{
    font-family: schelter;
    color: #ff5570;
    font: bold;
    margin: 0px;
    text-decoration: none;
    transition: 300ms;
    padding: 12px;
}

a:hover{
    background-color: #ff5570;
    color: white;
    padding: 15px;
    font-size: 1.2rem;
    box-shadow: 0px 0px 30px 5px rgb(216, 216, 216);
}

