@font-face{
    font-family: schelter;
    src: url('./../Fonts/Schelter\ Grotesk\ NF\ W01\ Bold.ttf') format("truetype");
}

.navbar{
    position: relative;
    width: 100vw;
    height: 3rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    font-family: schelter;
    color: #ff5570;
    font: bold;
    margin: 0px 10px;
    text-decoration: none;
}

